.bg-myColor{
    background-color: #00203FFF;
    color: white;
    padding: 0em 0em;
    margin: 0em 0em 2em 0em;
}
.page-title{
    color: whitesmoke;
}

.right-aligned{
    justify-content: flex-end;
}


