.btn-sailor_blue {
    background-color: #00203FFF;
    color: white;
}

.btn-xxl {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.btn-outline_sailor_blue {
    background-color: transparent;
    border-color: #00203FFF;
}